# Compilados de Java
*.class
*.jar
*.war

# Directorios de compilación
bin/
target/
out/

# Configuraciones de IntelliJ IDEA
.idea/
*.iml
*.iws

# Archivos temporales del sistema
.DS_Store
Thumbs.db
*.swp
